<div class="side-nav-content border-white">
    <ul class="nav-list">
        <li class="nav-list-item" >
            <i class="fa fa-solid fa-house"></i>
            <span>
                <a href="">Home</a>
            </span>
        </li>

        <li class="nav-list-item" >
            <i class="fa-solid fa-group-arrows-rotate"></i>
            <span>
                <a href="">Group</a>
            </span>
        </li>

        <li class="nav-list-item" >
            <i class="fa-solid fa-users"></i>
            <span>
                <a href="">Users</a>
            </span>
        </li>

        <li class="nav-list-item" >
            <i class="fa-solid fa-cart-shopping"></i>
            <span>
                <a href="">Product</a>
            </span>
        </li>

        <li class="nav-list-item" >
            <i class="fa-solid fa-people-roof"></i>
            <span>
                <a href="">Manage Orders</a>
            </span>
        </li>

        <li class="nav-list-item" >
            <i class="fa-brands fa-wpforms"></i>
            <span>
                <a href="">Forms</a>
            </span>
        </li>

        <li class="nav-list-item" >
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>
                <a href="">Logout</a>
            </span>
        </li>
    </ul>
</div>